<section class="hero" style="background-image: url(img/backgr/hero-backgr.jpg);">
    <div class="container">
        <div class="hero__content">
            <div class="hero__subtext">Dive into the world of crypto conferences</div>
            <h1 class="hero__title h1">Crypto Events Calendar 2024 / 2025</h1>
            <div class="hero__text">
                <p>If you're planning to attend, chat with the MarketAcross team to make the most of your event
                    experience! From investors and developers to journalists and government officials, the 2024 crypto
                    events calendar promises a wide range of opportunities to connect with key players in the space.</p>
            </div>
        </div>
        <div class="hero__items">
            <a href="#" class="hero__item" style="background-image: url(img/sections/section1.jpg);">
                <div class="hero__item-label">NFT</div>
                <div class="hero__item-arrow">
                    <img loading="lazy" src="img/arrows/arrow-btn-tab.svg" class="image" width="" height="" alt="">
                </div>
            </a>
            <a href="#" class="hero__item" style="background-image: url(img/sections/section2.jpg);">
                <div class="hero__item-label">Crypto</div>
                <div class="hero__item-arrow">
                    <img loading="lazy" src="img/arrows/arrow-btn-tab.svg" class="image" width="" height="" alt="">
                </div>
            </a>
            <a href="#" class="hero__item" style="background-image: url(img/sections/section3.jpg);">
                <div class="hero__item-label">Crypto</div>
                <div class="hero__item-arrow">
                    <img loading="lazy" src="img/arrows/arrow-btn-tab.svg" class="image" width="" height="" alt="">
                </div>
            </a>
        </div>
        <div class="hero__buttons">
            <button class="btn-reset hero__button-submit btn1" data-graph-path="submit-event">
                <span>Submit your Event</span>
                <img loading="lazy" src="img/arrows/arrow-btn-link.svg" class="image" width="" height="" alt="">
            </button>
            <a href="" class="hero__button-contact btn2">Contact Us</a>
        </div>
    </div>
</section>

<section class="events">
    <div class="container">
        <div class="events__subtext">All crypto events</div>
        <h2 class="events__title h2">To look forward to <span>in 2024 / 2025</span></h2>
        <div class="events__categories">
            <div class="select__wrapper select-filter select__wrapper-head">
                <select class="select events__category">
                    <option disabled>Filters</option>
                    <option value="">Filters</option>
                    <option value="">Filters</option>
                </select>
            </div>
            <div class="select__wrapper select-category">
                <select class="select events__category">
                    <option disabled>Category</option>
                    <option value="">Category2 Category2</option>
                    <option value="">Category3 Category3 Category3</option>
                </select>
            </div>
            <div class="select__wrapper select-location">
                <select class="select events__category">
                    <option disabled>Location</option>
                    <option value="">Location</option>
                    <option value="">Location</option>
                </select>
            </div>
            <div class="select__wrapper select-promocode">
                <select class="select events__category">
                    <option disabled>Promocode</option>
                    <option value="">Promocode</option>
                    <option value="">Promocode</option>
                </select>
            </div>
            <div class="select__wrapper select-partner">
                <select class="select events__category">
                    <option disabled>Main Media Partner</option>
                    <option value="">Main Media Partner</option>
                    <option value="">Main Media Partner</option>
                </select>
            </div>
            <div class="checkbox events__category select__wrapper-checkbox">
                <input class="custom-checkbox" type="checkbox" id="events" name="events" value="events">
                <label for="events">Show past Events</label>
            </div>
        </div>
        <div class="events__items">
            <div class="events-item">
                <div class="events-item__date">
                    <div class="events-item__date-number">28</div>
                    <div class="events-item__date-month">Aug</div>
                </div>
                <div class="events-item__content">
                    <div class="events-item__top">
                        <div class="events-item__info">
                            <div class="events-item__info-name">WebX Asia</div>
                            <div class="events-item__info-row">
                                <div class="events-item__info-item">
                                    <img loading="lazy" src="img/icons/location_on.svg" class="image" width="" height=""
                                        alt="">
                                    <span>Tokyo, Japan</span>
                                </div>
                                <div class="events-item__info-item">
                                    <img loading="lazy" src="img/icons/calendar_today.svg" class="image" width=""
                                        height="" alt="">
                                    <span>28 Aug. - 29 aug.</span>
                                </div>
                            </div>
                        </div>
                        <div class="events-item__categories">
                            <div class="events-item__category">
                                <img loading="lazy" src="img/icons/confirmation_number.svg" class="image" width=""
                                    height="" alt="">
                                <span>Marketacrosswebx</span>
                            </div>
                            <div class="events-item__category">
                                <span>NFT</span>
                            </div>
                        </div>
                    </div>
                    <div class="events-item__text">
                        <div class="events-item__text-preview">
                            <p>Billed as the largest Web3 conference in Asia, WebX
                                convenes key players, startups, companies, investors, government officials and media
                                from
                                Japan and abroad. It’s organized by Coinpost, Japan’s largest crypto and Web3 media
                                outlet.</p>
                        </div>
                        <div class="events-item__text-full">
                            <p>Korea Blockchain Week takes place over a full week in September, with the two-day IMPACT
                                event forming the main conference keystone. Attendees can expect to delve into all
                                corners of the Web3 space, including gaming, DeFi, NFTs, regulation, AI and more. </p>
                            <p>Speakers at the last event comprised local and international industry leaders, featuring
                                Simon Kim, CEO of Korean Web3 investing firm Hashed and Henry Chang, CEO of WEMADE,
                                alongside Skybridge Capital’s Anthony Scaramucci and Vitalik Buterin. </p>
                            <p>If past events are anything to go by, attendees who can make the full week will be
                                treated to some of the best networking events and parties on the conference scene.
                                Festivals, Formula E World Championships, and immersive audiovisual art galleries have
                                all featured at previous KBW events.</p>
                            <img src="img/images/image3.jpg" alt="">
                        </div>
                    </div>
                    <div class="events-item__buttons">
                        <button class="events-item__button-text btn-reset btn3">
                            <div class="text-more">Read more</div>
                            <div class="text-less">Read less</div>
                            <div class="arrow-img"></div>
                        </button>
                        <a href="" class="events-item__button-link btn4">
                            <span>To Website</span>
                            <img src="img/arrows/arrow-btn-link-blue.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="events-item">
                <div class="events-item__date">
                    <div class="events-item__date-number">28</div>
                    <div class="events-item__date-month">Aug</div>
                </div>
                <div class="events-item__content">
                    <div class="events-item__top">
                        <div class="events-item__info">
                            <div class="events-item__info-name">WebX Asia</div>
                            <div class="events-item__info-row">
                                <div class="events-item__info-item">
                                    <img loading="lazy" src="img/icons/location_on.svg" class="image" width="" height=""
                                        alt="">
                                    <span>Tokyo, Japan</span>
                                </div>
                                <div class="events-item__info-item">
                                    <img loading="lazy" src="img/icons/calendar_today.svg" class="image" width=""
                                        height="" alt="">
                                    <span>28 Aug. - 29 aug.</span>
                                </div>
                            </div>
                        </div>
                        <div class="events-item__categories">
                            <div class="events-item__category">
                                <img loading="lazy" src="img/icons/confirmation_number.svg" class="image" width=""
                                    height="" alt="">
                                <span>Marketacrosswebx</span>
                            </div>
                            <div class="events-item__category">
                                <span>NFT</span>
                            </div>
                        </div>
                    </div>
                    <div class="events-item__text">
                        <div class="events-item__text-preview">
                            <p>Billed as the largest Web3 conference in Asia, WebX
                                convenes key players, startups, companies, investors, government officials and media
                                from
                                Japan and abroad. It’s organized by Coinpost, Japan’s largest crypto and Web3 media
                                outlet.</p>
                        </div>
                        <div class="events-item__text-full">
                            <p>Korea Blockchain Week takes place over a full week in September, with the two-day IMPACT
                                event forming the main conference keystone. Attendees can expect to delve into all
                                corners of the Web3 space, including gaming, DeFi, NFTs, regulation, AI and more. </p>
                            <p>Speakers at the last event comprised local and international industry leaders, featuring
                                Simon Kim, CEO of Korean Web3 investing firm Hashed and Henry Chang, CEO of WEMADE,
                                alongside Skybridge Capital’s Anthony Scaramucci and Vitalik Buterin. </p>
                            <p>If past events are anything to go by, attendees who can make the full week will be
                                treated to some of the best networking events and parties on the conference scene.
                                Festivals, Formula E World Championships, and immersive audiovisual art galleries have
                                all featured at previous KBW events.</p>
                            <img src="img/images/image3.jpg" alt="">
                        </div>
                    </div>
                    <div class="events-item__buttons">
                        <button class="events-item__button-text btn-reset btn3">
                            <div class="text-more">Read more</div>
                            <div class="text-less">Read less</div>
                            <div class="arrow-img"></div>
                        </button>
                        <a href="" class="events-item__button-link btn4">
                            <span>To Website</span>
                            <img src="img/arrows/arrow-btn-link-blue.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <button class="btn-reset events__button btn1">
                <span>Load More</span>
                <img loading="lazy" src="img/arrows/keyboard_arrow_down_grey.svg" class="image" width="" height=""
                    alt="">
            </button>
        </div>
    </div>
</section>

<section class="submit__wrapper">
    <div class="container">
        <div class="submit" style="background-image: url(img/backgr/submit-backgr.jpg)">
            <div class="submit__subtext">Get featured</div>
            <h2 class="submit__title">Submit your Event</h2>
            <div class="submit__text">
                <p>Do you have a crypto or blockchain event coming up in 2024? Make sure it gets the attention it
                    deserves by submitting it to our Crypto Events Calendar! Whether it's a conference, workshop,
                    hackathon, or meetup, we’re here to help you reach the right audience.</p>
            </div>
            <div class="submit__advans">
                <div class="submit__advan">
                    <div class="submit__advan-icon">
                        <img loading="lazy" src="img/icons/advan1.svg" class="image" width="" height="" alt="">
                    </div>
                    <div class="submit__advan-name">Boost Visibility</div>
                </div>
                <div class="submit__advan">
                    <div class="submit__advan-icon">
                        <img loading="lazy" src="img/icons/advan2.svg" class="image" width="" height="" alt="">
                    </div>
                    <div class="submit__advan-name">Drive Attendance</div>
                </div>
                <div class="submit__advan">
                    <div class="submit__advan-icon">
                        <img loading="lazy" src="img/icons/advan3.svg" class="image" width="" height="" alt="">
                    </div>
                    <div class="submit__advan-name">Connect with Industry Leaders</div>
                </div>
            </div>
            <form action="#" class="form submit__form">
                <div class="form__row">
                    <input type="text" id="email" name="Имя" class="input-reset form__input" placeholder="">
                    <label for="email" class="form__label">Email</label>
                </div>
                <input class="btn-reset submit__button" type="submit" value="">
            </form>
        </div>
    </div>
</section>

<div class="section section-events">
    <div class="container">
        <div class="section-events__subtext">How to be successful</div>
        <h2 class="section-events__title h2">In crypto <span>Events</span></h2>
        <div class="section-events__items">
            <div class="section-events__item">
                <div class="section-events__item-icon">
                    <img src="img/icons/kid_star.svg" alt="">
                </div>
                <div class="section-events__item-name">Define your purpose</div>
                <div class="section-events__item-text">
                    <p>Decide what your main objective in attending the conference will be. Is it meeting VCs? Find job
                        openings? Learning about interesting concepts? Discovering new apps and services?</p>
                </div>
            </div>
            <div class="section-events__item">
                <div class="section-events__item-icon">
                    <img src="img/icons/adjust.svg" alt="">
                </div>
                <div class="section-events__item-name">Identify and prioritize meeting targets</div>
                <div class="section-events__item-text">
                    <p>Prepare a list of people you’d like to meet divided by tiers. For instance, Tier 1 will be those
                        people who you might see at mealtime or in the hallways and intentionally say hi. Tier 2 will be
                        the high-priority contacts that you will ideally have a face-to-face meeting with during the
                        event. See how many of these you can set up in advance, for example, by offering to meet for a
                        coffee.</p>
                </div>
            </div>
            <div class="section-events__item">
                <div class="section-events__item-icon">
                    <img src="img/icons/format_list_bulleted.svg" alt="">
                </div>
                <div class="section-events__item-name">Highlight interesting panels and keynotes</div>
                <div class="section-events__item-text">
                    <p>Every good conference starts with planning. If you know in advance which sessions you want to
                        attend, there’s less chance that you’ll be standing outside a crowded room, having failed to
                        arrive early enough for a seat.</p>
                </div>
            </div>
            <div class="section-events__item">
                <div class="section-events__item-icon">
                    <img src="img/icons/history.svg" alt="">
                </div>
                <div class="section-events__item-name">Sign up in advance for side events so you don’t miss out</div>
                <div class="section-events__item-text">
                    <p>Some of the best networking opportunities can happen during informal encounters at fringe events.
                        If there’s a chance, sign up for these events in advance, particularly if attendee numbers are
                        limited.</p>
                </div>
            </div>
            <div class="section-events__item">
                <div class="section-events__item-icon">
                    <img src="img/icons/tooltip_2.svg" alt="">
                </div>
                <div class="section-events__item-name">Join the conversation</div>
                <div class="section-events__item-text">
                    <p>If there’s a social app or Telegram channel dedicated to the conference, join it and make some
                        introductory posts on the public forums. Similarly, if the event is using a hashtag, make some
                        posts on your social media channels to increase the chances of encountering other attendees.</p>
                </div>
            </div>
            <div class="section-events__item">
                <div class="section-events__item-icon">
                    <img src="img/icons/contract.svg" alt="">
                </div>
                <div class="section-events__item-name">Find the media list</div>
                <div class="section-events__item-text">
                    <p>You can usually find the list of media reps in the conference group or app. Media reps attend
                        events to seek out interesting stories, which explains why brands often drop their announcements
                        at events. If you have a launch coming up or a piece of news to share, make sure the press knows
                        about it.</p>
                </div>
            </div>
            <div class="section-events__item">
                <div class="section-events__item-icon">
                    <img src="img/icons/history.svg" alt="">
                </div>
                <div class="section-events__item-name">Sign up in advance for side events so you don’t miss out</div>
                <div class="section-events__item-text">
                    <p>Some of the best networking opportunities can happen during informal encounters at fringe events.
                        If there’s a chance, sign up for these events in advance, particularly if attendee numbers are
                        limited.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section-info">
    <div class="container">
        <h2 class="section-info__title h2">See How We Can <span>Elevate Your Event</span></h2>
        <div class="section-info__items">
            <div class="section-info__image">
                <img loading="lazy" src="img/images/image1.jpg" class="image" width="" height="" alt="">
            </div>
            <div class="section-info__info" style="background-image: url(img/images/image2.jpg);">
                <div class="section-info__info-name">Curious to see how we’ve helped other crypto and blockchain events
                    succeed?</div>
                <div class="section-info__info-text">
                    <p> Check out our Events page to explore how we've partnered with top conferences and summits to
                        drive visibility, engagement, and success.</p>
                </div>
                <a href="" class="section-info__info-button btn1">
                    <span>Go to Events Page</span>
                    <img loading="lazy" src="img/arrows/arrow-btn-link.svg" class="image" width="" height="" alt="">
                </a>
            </div>
            <div class="section-info__block">
                <div class="section-info__block-item">
                    <div class="section-info__block-label">worked on</div>
                    <div class="section-info__block-count">50+</div>
                    <div class="section-info__block-name">Events</div>
                </div>
                <div class="section-info__block-item">
                    <div class="section-info__block-label">generated</div>
                    <div class="section-info__block-count">600+</div>
                    <div class="section-info__block-name">Published Articles</div>
                </div>
            </div>
        </div>
    </div>
</section>