<footer class="footer">
    <div class="container footer__container">
        <a href="" class="footer__logo">
            <img loading="lazy" src="img/logo/footer-logo.png" class="image" width="" height="" alt="">
        </a>
        <nav class="nav footer__nav" title="">
            <ul class="list-reset nav__list">
                <li class="nav__item"><a href="#" class="nav__link">About us</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Clients</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Services</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Podcast</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Events</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Blog</a></li>
            </ul>
        </nav>
        <a href="" class="footer__button btn1">
            <span>Contact us</span>
            <img loading="lazy" src="img/arrows/arrow-btn-link-viol.svg" class="image" width="" height="" alt="">
        </a>
    </div>
</footer>

<div class="graph-modal">
    <div class="graph-modal__container modal" role="dialog" aria-modal="true" data-graph-target="submit-event">
        <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
        <div class="graph-modal__content modal__content">
            <div class="modal__form">
                <div class="modal__top">
                    <div class="modal__subtitle">Submit Your Event</div>
                    <div class="modal__title">To Our Crypto Calendar</div>
                    <div class="modal__text">
                        Get your crypto or blockchain event featured and connect with a global audience of industry
                        leaders,
                        innovators, and enthusiasts.
                    </div>
                </div>
                <div class="modal__categories">
                    <div class="modal__category active"></div>
                    <div class="modal__category"></div>
                    <div class="modal__category"></div>
                </div>
                <form class="form">
                    <div class="form__row input-email">
                        <input type="text" id="email" name="Имя" class="input-reset form__input" placeholder="">
                        <label for="email" class="form__label">Email</label>
                    </div>
                    <div class="form__row input-event-name">
                        <input type="text" id="email" name="Имя" class="input-reset form__input" placeholder="">
                        <label for="email" class="form__label">Event Name</label>
                    </div>
                    <div class="form__row input-event-date">
                        <input type="text" id="email" name="Имя" class="input-reset form__input" placeholder="">
                        <label for="email" class="form__label">Event Date</label>
                    </div>

                    <!-- <div class="form__row input-event-website">
                        <input type="text" id="email" name="Имя" class="input-reset form__input" placeholder="">
                        <label for="email" class="form__label">Event Website</label>
                    </div>
                    <div class="form__row input-promocode">
                        <input type="text" id="email" name="Имя" class="input-reset form__input" placeholder="">
                        <label for="email" class="form__label">Promocode</label>
                    </div>
                    <div class="form__row input-event-category">
                        <select class="select">
                            <option disabled>Main Media Partner</option>
                            <option value="">Main Media Partner</option>
                            <option value="">Main Media Partner</option>
                        </select>
                    </div>
                    <div class="form__row form__row-textarea input-event-info">
                        <textarea name="" id="" cols="" rows="" class="input-reset form__textarea"
                            placeholder="Event Info"></textarea>
                    </div>
                    <div class="form__row form__row-textarea input-media">
                        <textarea name="" id="" cols="" rows="" class="input-reset form__textarea"
                            placeholder="Are you looking for a media partnership? If yes, in what scale?"></textarea>
                    </div> -->

                    <a href="" class="form__submit btn2">
                        <span>Continue</span>
                        <img loading="lazy" src="img/arrows/arrow_right_alt.svg" class="image" width="" height=""
                            alt="">
                    </a>
                    <!-- <a href="" class="form__submit btn1">
                        <span>Submit</span>
                        <img loading="lazy" src="img/icons/check.svg" class="image" width="" height=""
                            alt="">
                    </a> -->
                </form>
            </div>
            <!-- <div class="modal__success">
                <div class="modal__top">
                    <div class="modal__subtitle">Success!</div>
                    <div class="modal__title">Your Event Has Been Submitted</div>
                    <div class="modal__text">
                        <p>Thank you for submitting your event. Our team will review the details, and it will be added
                            to our calendar shortly.</p>
                        <p>Stay tuned for confirmation!</p>
                    </div>
                </div>
                <div class="modal__image-check">
                    <img loading="lazy" src="img/icons/check-image.png" class="image" width="" height="" alt="">
                </div>
            </div> -->
            <div class="modal__image">
                <img loading="lazy" src="img/images/image4.jpg" class="image" width="" height="" alt="">
            </div>
        </div>
    </div>
</div>