<header class="header">
    <div class="container">
        <div class="header__container">
            <div class="header__logo">
                <img loading="lazy" src="img/logo/logo.png" class="image" width="" height="" alt="">
            </div>
            <nav class="nav" title="">
                <ul class="list-reset nav__list">
                    <li class="nav__item"><a href="#" class="nav__link">About us</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Clients</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Services</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Podcast</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Events</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Blog</a></li>
                </ul>
            </nav>
            <a href="" class="header__sibmit btn1">
                <span>Contact us</span>
                <img loading="lazy" src="img/arrows/arrow-btn-link.svg" class="image" width="" height="" alt="">
            </a>
        </div>
    </div>
</header>