// colors
$white: #fff;
$dark: #000;
$darkPurple: #400074;
$grey: #999;
$viol: #5061FF;
$violBorder: #9C22FF;
$violDark: #400074;

$backgrDark: #232323;
$red: #b20d35;
$redHover: #8f0a2a;
$greyLine: #d9d9d9;
$borderLine: #e0e0e0;
