.btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  border-radius: 100px;
  background: linear-gradient(274deg, #9c22ff 5.22%, #2285ff 93.13%);
  height: 56px;
  width: fit-content;
  cursor: pointer;
  padding: 0 24px;

  span {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  img {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
  }
}

.btn2 {
  display: flex;
  align-items: center;
  color: #5061ff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 56px;
  width: fit-content;
  cursor: pointer;
  padding: 0 24px;
  border-radius: 100px;
  border: 1px solid #9c22ff;
}

.btn3 {
  color: $viol;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 40px;
  width: fit-content;
  cursor: pointer;
  padding: 0 12px;
  border-radius: 100px;
  border: 1px solid $violBorder;
  @include flexCCenter;
  column-gap: 4px;
  .text-less {
    display: none;
  }
  .arrow-img {
    @include bg-cover;
    background-image: url(../img/arrows/arrow_drop_viol_down.svg);
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
  &.active {
    .arrow-img {
      background-image: url(../img/arrows/arrow_drop_viol_up.svg);
    }
  }
}

.btn4 {
  height: 40px;
  width: fit-content;
  cursor: pointer;
  padding: 0 12px;
  border-radius: 100px;
  border: 1px solid $violBorder;
  @include flexCCenter;
  column-gap: 4px;
  span {
    color: $viol;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
}